In [1]:
import numpy as np
import pandas as pd

In [3]:
my_data=np.array([[0,3], [10,7], [20,9], [30,14], [40,15]])
my_column_names=['temprature', 'activity']
my_dataframe=pd.DataFrame(data=my_data, columns=my_column_names)
print(my_dataframe)

   temprature  activity
0           0         3
1          10         7
2          20         9
3          30        14
4          40        15

In [4]:
my_dataframe["adjusted"]=my_dataframe["activity"]+2
print(my_dataframe)

   temprature  activity  adjusted
0           0         3         5
1          10         7         9
2          20         9        11
3          30        14        16
4          40        15        17

In [5]:
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

print("Column 'temprature':")
print(my_dataframe['temprature'])

Rows #0, #1, and #2:
   temprature  activity  adjusted
0           0         3         5
1          10         7         9
2          20         9        11

Row #2:
   temprature  activity  adjusted
2          20         9        11

Rows #1, #2, and #3:
   temprature  activity  adjusted
1          10         7         9
2          20         9        11
3          30        14        16

Column 'temprature':
0     0
1    10
2    20
3    30
4    40
Name: temprature, dtype: int32

In [6]:
#Task1
my_column_names=['Eleanor', 'Chidi', 'Tahani', 'Jason']
my_data=np.random.randint(low=0, high=101, size=(3, 4))
df=pd.DataFrame(data=my_data, columns=my_column_names)
print(df)
print("\nSecond row of the Eleanor column: %d\n" %df['Eleanor'][1])
df['Janet']=df['Tahani']+df['Jason']
print(df)

   Eleanor  Chidi  Tahani  Jason
0       64     68      13     10
1       47     68      68     87
2       83      2      47     80

Second row of the Eleanor column: 47

   Eleanor  Chidi  Tahani  Jason  Janet
0       64     68      13     10     23
1       47     68      68     87    155
2       83      2      47     80    127

In [10]:
#Copying a DataFrame
print("Experiment with a referance:")
referance_to_df=df

print("Starting value of df: %d" % df['Jason'][1])
print("Starting value of referance_to_df: %d\n" % referance_to_df['Jason'][1])

df.at[1, 'Jason']=df['Jason'][1]+5
print("Updated df: %d" % df['Jason'][1])
print("Updated referance_to_df: %d\n\n" % referance_to_df['Jason'][1])

print("Experiment with a true copy:")
copy_of_my_dataframe =my_dataframe.copy()

print("Starting value of my_dataframe: %d" % my_dataframe['activity'][1])
print("Starting value of copy_of_my_dataframe: %d\n" % copy_of_my_dataframe['activity'][1])

my_dataframe.at[1,'activity']=my_dataframe['activity'][1]+3
print(" Updated my_dataframe: %d" % my_dataframe['activity'][1])
print(" copy_of_my_dataframe does not get updated: %d" % copy_of_my_dataframe['activity'][1])

Experiment with a referance:
Starting value of df: 87
Starting value of referance_to_df: 87

Updated df: 92
Updated referance_to_df: 92


Experiment with a true copy:
Starting value of my_dataframe: 7
Starting value of copy_of_my_dataframe: 7

 Updated my_dataframe: 10
 copy_of_my_dataframe does not get updated: 7